name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: Install dependencies (NuGet packages)
      run: dotnet restore

    - name: Build release version
      run: dotnet build --configuration Release --no-restore

    - name: Build documentation site (see https://github.com/nikeee/docfx-action)
      uses: nikeee/docfx-action@v0.1.0
      with:
        args: docs/docfx.json

    - name: Publish documentation site to GitHub Pages (see https://github.com/maxheld83/ghpages)
      uses: maxheld83/ghpages@v0.3.0
      env:
        BUILD_DIR: docs/_site
        GH_PAT: ${{ secrets.GH_PAT }}

    - name: Pack NuGet package
      run: dotnet pack --configuration Release

    - name: Push package to NuGet
      run: dotnet nuget push **/*.nupkg
            --api-key ${{ secrets.NUGET_DEPLOY_KEY }}
            --source https://api.nuget.org/v3/index.json
            --no-symbols true
