name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
	
	  # Set up .NET Core
    - uses: actions/checkout@v2
    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
		
	  # Install dependencies (NuGet packages)
    - name: Install dependencies
      run: dotnet restore
	  
	  # Build release version
    - name: Build
      run: dotnet build --configuration Release --no-restore
	  
	  # Build documentation (see https://github.com/nikeee/docfx-action)
    - uses: nikeee/docfx-action@v0.1.0
      name: Build documentation
      with:
        args: docs/docfx.json

    # Publish generated documentation site to GitHub Pages (see https://github.com/maxheld83/ghpages)
    - uses: maxheld83/ghpages@v0.3.0
      name: Publish documentation site to GitHub Pages
      env:
        BUILD_DIR: docs/_site
        GH_PAT: ${{ secrets.GH_PAT }}
